* {
  font-family: Arial;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: white;
  justify-content: space-around;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 4px #81818133;
  display: flex;
  height: 15vh;
  width: 100%;
}

header h1 {
  margin: 0px;
}

footer {
  justify-content: center;
  align-items: center;

  box-shadow: 1px 0px 10px #81818133;
  display: flex;
  height: 10dvh;
  width: 100%;
}

footer p {
  margin: 0px;
}

header form {
  box-shadow: none;
  padding: 0px;
  width: auto;
  flex-direction: row;
}

header form input[type="text"] {
  width: 200px;
  padding: 10px;
}

header form input[type="submit"] {
  padding: 10px;
  margin-left: 10px;
  background: var(--iOS-Pink, #121111);
  border-radius: 5px;
  width: auto;
  border: none;
  cursor: pointer;
  color: white;
}

header form input[type="submit"]:hover {
  background-color: #2e272b;
}

header div {
  align-items: center;
  display: flex;
}


.link {
  color: white;
  text-decoration: none;
}

content {
  max-width: 100%;
}


.spacing {
  min-height: 80dvh;
  max-height: 100dvh;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--iOS-BG, rgba(249, 249, 249, 0.80));
  flex-direction: column;
}

.login {
  display: flex;
  width: 40dvh;
  padding: 2dvw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4dvh;

  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
}

.spacing h2 {
  margin-bottom: 2dvh;
}

.input {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  width: 21dvh;

  border-radius: 4px;
  border: 1px solid var(--Neutral-Almost-White, #EEE);
  background: var(--iOS-BG, rgba(249, 249, 249, 0.80));
  margin-top: 1dvh;
}

.buttonLogin {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-style: none;
  border-radius: 8px;
  border-color: #FFF;
  background: var(--iOS-Pink, #121111);
  width: 23dvh;
  cursor: pointer;
}

.buttonLogin:hover {
  background-color: #2e272b;
}

.titulo {
  text-align: center;
  font-size: 20px;
}

table {
  border: 1px solid #333;
  max-width: 80vw;
  margin: auto;
  margin-bottom: 5dvh;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--iOS-Pink, #332f2f);
  color: white;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}


main {
  min-height: 76dvh;
}

nav {
  background-color: #EEE;
  border-right: 2px solid;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}

nav div ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  width: 100%;
}

nav div ul li {
  padding: 20px;
}

nav div ul li:hover {
  background-color: #72727245;
  cursor: pointer;
}

nav div ul li a {
  text-decoration: none;
}

nav div ul li:hover {
  font-style: italic;
}

nav.open {
  transform: translateX(0);
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.buttonAction {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-style: none;
  border-radius: 8px;
  border-color: #FFF;
  background: var(--iOS-Pink, #121111);
  width: 10dvh;
  cursor: pointer;
  flex-direction: column;
}

.buttonAction:hover {
  background-color: #2e272b;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  overflow: scroll;
}


.subtitle {
  margin-top: 0.5dvh;
  font-size: 10px;
  font-weight: bold;
}

.tittle {
  margin-top: 1dvh;
  font-size: 10px;
  font-weight: bolder;
  margin-bottom: -1dvh;
}

.buttonsSpacing {
  margin-top: 10dvh;
  display: flex;
  flex-direction: row;
  gap: 1dvw;
}

.buttonActionCancel {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-style: none;
  border-radius: 8px;
  border-color: #FFF;
  background: var(--iOS-Pink, #d23333);
  width: 10dvh;
  cursor: pointer;
  flex-direction: column;
  user-select: none;
}

.buttonActionCancel:hover {
  background-color: #ff0000;
  user-select: none;
}

.buttonActionNew {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-style: none;
  border-radius: 8px;
  border-color: #FFF;
  background: var(--iOS-Pink, #14e409);
  min-width: 10dvh;
  max-height: 18vh;
  cursor: pointer;
  flex-direction: column;
  user-select: none;
}

.buttonActionNew:hover {
  background-color: #2bff00;
  user-select: none;
}

.buttonActionChange {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-style: none;
  border-radius: 8px;
  border-color: #FFF;
  background: var(--iOS-Pink, #e4e009);
  width: 10dvh;
  cursor: pointer;
  flex-direction: column;
  user-select: none;
}

.buttonActionChange:hover {
  background-color: rgb(255, 251, 0);
  user-select: none;
}

.textNew {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4dvh;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 7dvh;
  color: #14e409;
}

.textNew:hover {
  color: #0dff00;
  cursor: pointer;
}

.centralizar {
  justify-content: center;
  align-items: center;
  display: flex;
}

.gap {
  margin-top: 5dvh;
}

.noClick {
  user-select: none;
}

.row {
  flex-direction: row;
  display: flex;
  gap: 2dvh;
}

.row-text {
  flex-direction: row;
  display: flex;
  gap: 20dvh;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-style: none;
  border-radius: 8px;
  border-color: #FFF;
  background: var(--iOS-Pink, #d23333);
  width: 10dvh;
  cursor: pointer;
  flex-direction: column;
  user-select: none;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4dvh;
  margin-top: 4dvh;
  max-width: 100%;
  margin-left: 10dvw;
  margin-right: 10dvw;
  border-bottom: 1px solid #333;
  padding-bottom: 1dvh;
}

.row-buttons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2dvh;
}

#search {
  margin-bottom: 1dvh;
}
